.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.root{
    justify-content: center;
}

.text{
    width: 165px;
    height: 29px;
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}

.button {
    margin-top: 10px;
    width: 211px;
    height: 45px;

    background: #FF6B00;
    border-radius: 25px;
    margin-left: 54px;
}